CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

\.vscode/

java/\.idea/

java/\.settings/

java/target/

java/\.project

java/\.classpath

java/dependency-reduced-pom\.xml

java/blazingdb-protocol\.iml
